# {{ ansible_managed }}

[Unit]
Requires=restic-snapshot-create.service restic-snapshot-delete.service
After=restic-snapshot-create.service
Before=restic-snapshot-delete.service
ConditionPathIsMountPoint={{ restic_client_lvm_snapshot_dir }}

[Service]
RootDirectory={{ restic_client_lvm_snapshot_dir }}
PrivateTmp=true
MountAPIVFS=true
BindPaths={{ restic_client_home }}/.cache
ReadOnlyPaths=/
{# Create 'BindReadOnlyPaths' commands for 'root' logical volume first, otherwise
   lower mountpoints (such as /home) will be shadowed. This happens automatically
   at the creation of the list of to-be-snapshotted-devices, '_lvm_mounted_devices'.
   * 'item[0]' is the origins mountpoint in the directory tree
   * 'item[1]' is the path to the LV device underneath '/dev/mapper' and is used
      to refer to the origin LV.
   * 'item[2]' is the name of the volume group.
   * 'item[3]' is the name of the logical volume. #}
###
# Recursively bind-mount all mounted filesystems into this services 'RootDirectory'
# to include these "non-LVM" filesystems into the backup as well. The part left
# to the colon is as seen from the hosts filesystem view, the right part is as
# seen from the services filesystem view.
# Also see: https://www.freedesktop.org/software/systemd/man/systemd.exec.html#BindPaths=
###
BindReadOnlyPaths=/:/:rbind
###
# Create bind-mount for each mounted LVM logical volume. The same syntax as
# above applies.
###
{% for item in _lvm_mounted_devices %}
{% if not 'swap' in item[0] and
      not 'tmp'  in item[0] and
      not item[3] | regex_search('^backup_') %}
BindReadOnlyPaths={{ restic_client_lvm_snapshot_dir }}{{ item[0] }}:{{ item[0] }}
{% endif %}
{% endfor %}

