{# Example repository location: a local directory.
   Could also be a SFTP location, S3 bucket, or anything else described in the
   official restic documentation:
   https://restic.readthedocs.io/en/stable/030_preparing_a_new_repo.html
   The contents of this file will be written into a file and sourced automatically
   when switching (su) to the restic user.
   To use your own custom repository-template, create a new folder where your
   playbook is located: './templates/' and configure a 'repository.j2' there.
   Also see './repository.exampleREST.j2' for an example using the REST backend.
#}
/srv/backup
