# {{ ansible_managed }}

[Unit]
Description=Backup with restic daily

###
# Fire every day at midnight with a random delay up to three hours.
###
[Timer]
OnCalendar=daily
RandomizedDelaySec=10800
{# FixedRandomDelay available in systemd 247 and above, but ignored in lower versions
   see https://github.com/systemd/systemd/commit/acf24a1a84e9496e3feb09449f4cc43fe67a9a64 #}
FixedRandomDelay=true

[Install]
WantedBy=timers.target
