{# barefaced stolen from https://fedoramagazine.org/automate-backups-with-restic-and-systemd/ #}
# {{ ansible_managed }}

[Unit]
Description=Restic backup service (data pruning)
Documentation=https://restic.readthedocs.io

[Service]
Type=exec
User={{ restic_client_user }}
Group={{ restic_client_group }}
ExecStart={{ restic_client_bin_dir }}/restic forget \
		--prune \
		--verbose \
		--tag systemd.timer \
		--group-by '' \
		--keep-daily 14 \
		--keep-monthly 6 \
		--keep-yearly 1
{# Do not start to prune (ExecStart) when doing a systemd service reload.
   Instead, run this arbitrary command which also proves the repo is working as expected. #}
ExecReload={{ restic_client_bin_dir }}/restic version
EnvironmentFile={{ restic_client_config_dir }}/backup.conf
SyslogIdentifier=restic
